.form-container {
  width: 500px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-container {
  margin-bottom: 20px;
}

.form-title {
  margin-bottom: 20px;
}
