.switch-container {
  box-shadow: rgb(6 24 44 / 40%) 0px 0px 0px 2px,
    rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
  width: 100%;
  border-radius: 9px;
  padding: 5px 0;
}

.ports-container {
  display: flex;
  margin: 7px auto;
  justify-content: center;
}

.ports-column {
  margin: 0 4px;
}

.hidden {
  display: none;
}

h3 {
  text-align: center;
}
